.form{
  display: flex;
  align-items: end;
  outline: none;
}
.form small{
  color: red;
  font-size: 13px;
}
input{
  outline: none;
}
.error{
  border:1px solid red ;
}
.form label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
